@{
    ViewBag.Title = "About";
}

<h2 id="div2" style=" background-color:rgba(247, 246, 239,0.8);border-radius:10px; text-shadow: 2px 2px #000000; font-family: Verdana; ">
    About
</h2>
<style>
    .col {
        column-count: 1;
    }
    h2 {
        width: 100px;
        height: 40px;
        background: red;
        transition: width 2s;
    }


    #div2 {
        transition-timing-function: ease;
    }

    h2:hover {
        width: 300px;
    }
</style>
<body>
    <section style="width:1000px;">
        <h3 class="col">
            We take music very seriously, that's why we decided to dedicate our life to make music accessible to everyone.
            here is some of our inspiration:
        </h3>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </section>

   
</body>
